body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    background: #fff;
}

.aeinzg81{
    align-items: center;
    min-height: 0;
    /* display: flex; */
    padding-right: 16px;
    padding-left: 16px;
    margin-bottom: 56px;
    margin-top: 16px;
    width: 33.333333%;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-basis: auto;
    display: block;
}
.icdlwmnq{
    text-align: inherit;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 1.3333;
    font-size: 1.5rem;
    white-space: inherit;
    word-wrap: break-word;
    outline: none;
    color: var(--dolly-text-secondary);
}
.qt2wufbn{
    margin-right: 24px;
    border-bottom-left-radius: 72px;
    border-top-right-radius: 72px;
    border-bottom-right-radius: 72px;
    border-top-left-radius: 72px;
    height: 72px;
    width: 72px;
}
.bdao358l{
    flex-shrink: 0;
    flex-grow: 1;
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    padding-right: 32px;
    margin-top: 80px;
    margin-bottom: 80px;
    padding-left: 32px;
    max-width: 1504px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.gvxzyvdx{
    width: 8.333333%;
    margin-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
    flex-basis: auto;
    flex-shrink: 0;
    box-sizing: border-box;
    max-width: 100%;
    flex-grow: 0;
}
.pytsy3co{
    background-color: var(--dolly-divider-grey);
    width: 1px;
    height: 100%;
}
.srn514ro{
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    background: #dadde1;
    border-width: 0;
    color: #dadde1;
    height: 1px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 8px;
    width: 100%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
.otvrd79k{

}